@use '../../styles/mixing.scss' as mixin;

.Sec1Container{
   background: url('../../assets/purple.png'), lightgray -184.527px 3.278px / 146.745% 105.327% no-repeat;
  background-blend-mode: hard-light;
  background-color:mixin.$primary-color;
  background-repeat:no-repeat;
 
 
}

.purple {
  position: absolute;
  right: 5%; /* Adjust the percentage as needed */
  bottom: 20%; /* Adjust the percentage as needed */
  mix-blend-mode: hard-light; /* Apply hard-light blend mode */
  z-index: -1;
  border: none; /* Remove the border */
}




@media(min-width: 419.669px){
  // .Sec1Container{
  //   // height: 501px;
  // }
}