
.MainContainer{
  background: #100B20;
}

.flexContainer{
  @media(min-width:750px){
    display: flex;
  justify-content: space-around;
  padding:30px 10px;
  
  & .sec1{
    flex-basis:30%;
  }
  & .sec2{
    flex-basis:20%;
  }
  & .sec3{
    flex-basis:20%;
  }
  margin-left: 0px;
  margin-right:0px;
  }
  margin-left: 20px;
  margin-right: 6px;
  
  .color{
    color: #D434FE;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 172.4%; /* 24.136px */
  }
  
  .social{
    margin:0 10px;
  }
}