 
 .Maincontainer{
  @media(min-width:750px){
   
  }
  background: #100B20;
  padding:50px 0;
  margin:100px 0;
  position: relative;

  .header{
    margin-left: 50%;
   }

  .wuta1{
    position: absolute;
    width:450px; 
    top:0px;
    left: 0;
  }
  .wuta2{
    @media(max-width:750px){
     bottom:-100px;
    }
    position: absolute;
    bottom:-100px;
    width:250px; 
    right: 0;
  }

  .subContainer{
    @media(min-width:750px){
      display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
   
  }
  
   .secondDiv{
    width:30%;
    height: 256px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D434FE;
    background: rgba(212, 52, 254, 0.12);
    position: relative;
    & img{
      width:60%;
      position: absolute;
      top: -30px;
      margin: 0 20%;
    }
   }


   .firstDiv{
    width:30%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #903AFF;
    background: rgba(144, 58, 255, 0.12);
    position: relative;
    & img{
      width: 80%;
      position: absolute;
      top: -60px;
      margin: 0 10%;
    }
   }










   .thirdDiv{
    width:30%;
    height: 256px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D434FE;
    background: rgba(212, 52, 254, 0.12);
    position: relative;
    & img{
      width: 60%;
      position: absolute;
      top: -30px;
      margin: 0 20%;
    }
   }
  
   

   .article1{
    @media(min-width:720px){
     
    }
    & img{
      width:80%;
      margin:20px 15%;
    }
   }



   .article2{
    @media(min-width:720px){
      flex-basis:40%;
    }
    display:flex;
    justify-content: space-around;
   margin-top: 60px;
    
   }

    .runnerText{
      position: absolute;
      bottom: 10%;
      margin-left:30%;

      & p{
       display: flex;
       justify-content: center;
       
      }
    }



  
 }