.line{
  border: 1px solid rgba(255, 255, 255, 0.18);
background: #140D27;
margin-top:60px;
}

.SectionFour{
  @media(min-width:750px){
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
  }

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;


    & .buttonDiv{
      margin-left: -90px;
    }




  & button{
    border-radius: 4px;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    width: 152px;
    height: 46.837px;
    flex-shrink: 0;
    margin: 10px;
    margin-left: 90px;
  }
  
}

.teacher{
  width: 100%;
  height: 500px;
}
.teacherDiv{
  @media(min-width:750px){
    
    flex-basis:37%;
  }
 
  width: 350px;
  margin-top: 40px;

}

.introduction{
  margin: 10px;
  margin-top:23px;
  flex-basis:40%;
  .criteria{
    color: #FFF;
    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    text-align:left;
    font-weight: 700;

  }
  .key{
    color: #D434FE;
    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    
  }
  span{
    color: #FF26B9;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 173.5%; /* 27.76px */
  }
  .text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.5%;
  }
}




.purple{

  @media(max-width:750px){
  
    position: absolute;
    width: 390px;
    top: 0;
    left: 0%;
    transform: rotate(180deg);
  }

  position: absolute;
  width:390px;
  bottom: 0;
  left:0%;
  transform: rotate(180deg)
}


.purple1{
 
  position: absolute;
  width: 430px;
  bottom: -320px;
  right:0%;
}


.star1{

@media(min-width:750px){
  top: 70%;
  left: 39%;
}
position: absolute;
bottom: 2%;
left: 57%;
}

.star2{
  @media(min-width:750px){
    left: 21%;
    top: 53%;
  }
  position: absolute;
  left: 50%;
    top: 20%;
}

.star3{
  @media(min-width:750px){
    top: 10%;
    left: 10%;
  }
position: absolute;
top: 1%;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 2.5s ease infinite; /* Adjust the duration as needed */
}


@keyframes blink2 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink2 {
  animation: blink 2.0s ease infinite; /* Adjust the duration as needed */
}


@keyframes blink3 {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink3 {
  animation: blink 1.5s ease infinite; /* Adjust the duration as needed */
}