.line{
  border: 1px solid rgba(255, 255, 255, 0.18);
background: #140D27;
margin-top:60px;
}

.SectionThree{
  @media(min-width:750px){
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    
  }

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


.lady{
  width:100%;
  
}

.ladyDiv{
  @media(min-width:750px){
    
    flex-basis: 35%;
  }
 
  width: 350px;
  margin-top: 40px;

}


  .arrow{

    @media(min-width:750px){
       width: 20%;
    position: absolute;
    bottom: 0;
    margin-bottom: -50px;
    margin-left: 320px;
      
    }
    width:10%;
    position: absolute;
    bottom: 0;
    margin-bottom: -50px;
    margin-left: 120px;
   
}
  





.introduction{
  margin-top:3px;
  flex-basis:40%;
  .rules{
    color: #FFF;
    text-align: center;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    /* 26.6px */
  }
  .guidelines{
    color: #D434FE;
    font-family: Clash Display;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
  }
  .hackathon{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 211.538% */
    margin:10px;
  }
}

.purple{
  @media(max-width:750px){
    position: absolute;
    right: 0%;
    margin-top: 240px;
   
  }

  position: absolute;
  right:0%;
  top:0;
}


.purple1{
 
  position: absolute;
  left: 0%;
  top: 0;
 
}