
.line{
  border: 1px solid rgba(255, 255, 255, 0.18);
background: #140D27;
margin-top:60px;
}

.container{
  @media(min-width:750px){
   display: flex;
   align-items: center;
    justify-content: space-around;
  }
  margin:40px 0;
}

.sec1{

  flex-basis:40%;



 & .title{
    
  p{
    @media(min-width:750px){
     text-align: left;
     }
    font-size:14px;
    text-align:center;
    margin:23px;
  }
  }
  
  

    

 & .box{
  @media(max-width:750px){
    margin:0 auto;
    }
    max-width: 569px;
    max-height: 408px;
    width: 295px;
    height: 635px;
    flex-shrink: 0;
    margin: 0 15px;
    border-radius: 5px;
    border: 1px solid #D434FE;
    background: rgba(217, 217, 217, 0.03);
    border-radius: 5px;
    border: 1px solid #D434FE;
    background: rgba(217, 217, 217, 0.03);
    p{
      @media(min-width:750px){
       text-align: left;
       font-size:13px;
       }
      font-size:12px;
      text-align:center;
      margin: 0 10px;
    }
    
  }
}


.foto{
  flex-basis:30%;
  position: relative;
  margin: 0 50px;
  margin-left:70px;
  margin-top: 50px;
  

  & img{
    width:80%;
  }
  & .virus{
    position: absolute;
  }
  & .kwado{
    margin-top:130px;
  }
}